In [1]:
#import sys
#sys.path.append("../..")
from eau_pipelines.utils.storage_client import ObjectStorageClient

ModuleNotFoundError: No module named 'eau_pipelines'

In [2]:
# nécéssaire pour load le .env
import pipelines.config.config

In [3]:
import pandas as pd
file_name = "test.csv"
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data)
df.to_csv(file_name, index=False)

In [4]:
storage_client = ObjectStorageClient()

In [5]:
storage_client.upload_object("test.csv", "test/test.csv")

In [6]:
storage_client.download_object("test/test.csv", "download_test.csv")
pd.read_csv("download_test.csv")

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [7]:
storage_client.read_object_as_dataframe("test/test.csv")

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [8]:
storage_client.upload_dataframe(df,"test2.csv")

In [9]:
storage_client.read_object_as_dataframe("test2.csv")

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [10]:
storage_client.list_objects()

[{'Key': 'test/test.csv',
  'LastModified': datetime.datetime(2025, 1, 27, 10, 1, 2, tzinfo=tzutc()),
  'ETag': '"f004877355d955194d312a877ddd7521"',
  'Size': 74,
  'StorageClass': 'STANDARD',
  'Owner': {'DisplayName': '3e039450-80f7-4f0d-81f6-01647e3652ed:3e039450-80f7-4f0d-81f6-01647e3652ed',
   'ID': '3e039450-80f7-4f0d-81f6-01647e3652ed:3e039450-80f7-4f0d-81f6-01647e3652ed'}},
 {'Key': 'test2.csv',
  'LastModified': datetime.datetime(2025, 1, 27, 10, 1, 3, tzinfo=tzutc()),
  'ETag': '"f004877355d955194d312a877ddd7521"',
  'Size': 74,
  'StorageClass': 'STANDARD',
  'Owner': {'DisplayName': '3e039450-80f7-4f0d-81f6-01647e3652ed:3e039450-80f7-4f0d-81f6-01647e3652ed',
   'ID': '3e039450-80f7-4f0d-81f6-01647e3652ed:3e039450-80f7-4f0d-81f6-01647e3652ed'}}]

In [11]:
storage_client.delete_object("test2.csv")
storage_client.delete_object("test/test.csv")

In [12]:
storage_client.list_objects()

[]