In [13]:
# import sys
# sys.path.append("../..")
from pipelines.utils.storage_client import ObjectStorageClient

In [16]:
# nécéssaire pour load le .env
from pipelines.config.config import load_env_variables

load_env_variables()

ImportError: cannot import name 'load_env_variables' from 'pipelines.config.config' (C:\Users\nicol\Documents\DataForGood\13_rendre_visible_pollution_eau_potable\fork\13_pollution_eau\pipelines\config\config.py)

In [17]:
import pandas as pd

file_name = "test.csv"
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"],
}
df = pd.DataFrame(data)
df.to_csv(file_name, index=False)

In [18]:
storage_client = ObjectStorageClient()

In [19]:
storage_client.upload_object("test.csv", "test/test.csv")

In [20]:
storage_client.download_object("test/test.csv", "download_test.csv")
pd.read_csv("download_test.csv")

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [ ]:
storage_client.read_object_as_dataframe("test/test.csv")

In [ ]:
storage_client.upload_dataframe(df, "test2.csv")

In [ ]:
storage_client.read_object_as_dataframe("test2.csv")

In [ ]:
storage_client.list_objects()

In [ ]:
storage_client.delete_object("test2.csv")
storage_client.delete_object("test/test.csv")

In [ ]:
storage_client.list_objects()